<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="SharpDisasmStandard" version="1.0.1" targetFramework="net48" />
  <package id="Squalr.Engine" version="2.3.0.1" targetFramework="net48" />
  <package id="Squalr.Engine.Architecture" version="2.3.0.1" targetFramework="net48" />
  <package id="Squalr.Engine.Memory" version="2.3.0.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net48" />
</packages>